
#background {
    height: 100%;
}

#menu_button_display {
    display: flex;
    margin: 0 auto;
    width: 60%;
    justify-content: flex-end;
}

.picture .desktop {
    display: none;
}

.profile-picture {
    box-shadow: none;
    padding-top: 3em;
    float: none;
}

.container {
    padding: 3em 0;
    height: 100%;
}

.about {
    display: flex;
}

.gg-arrow-down {
    margin: 0 auto;
    align-self: center;
    float: left;
}

.about h1 {
    text-transform: uppercase;
    text-align: right;
}

.about-me-2 {
    padding: 2em 0;
    font-family: 'Cinzel', serif;
}

.about-me-2 h1 {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}

.about-me-2 p:first-child {
    padding-top: 2em;
}

.about-me-2 p{
    padding-top: 1em;
}

@media screen and (min-width: 600px) {

    #menu_button_display {
        width: 75%;
    }

    .container {
        padding: 2em 0;
    }
  
    .picture .mobile {
        display: none;
    }

    .picture .desktop {
        display: block;
    }

    .picture {
        padding: 2em 0;
        height: 100%;
    }

    .profile-picture {
        margin: 0 auto;
        display: block;
        padding: 2em 0;
    }

    .about {
        padding-top: 0;
    }

    .about h1 {
        width: 95%;
    }

    .gg-arrow-down {
        width: 5%;
    }

}