#background {
    height: 100%;
}

.container {
    padding: 3em 0;
    height: 10%;
}

.container h1 {
    font-size: 22px;
    text-align: center;
}

.contact-links {
    list-style: none;
    text-align: center;
    padding: 4.5em 0;
}

.contact-links li {
    padding: 2em 0;
}

.contact-links a {
    text-decoration: none;
    color: #333;
}

.contact-links img {
    padding-right: 1em;
}

.frontendmentor {
    height: 1.5em;
    width: 1.5em;
}

.footer {
    height: 2em;
    left: 0;
    width: 100%;
}

/* IPHONE XR */

@media screen and (min-width: 414px) and (min-height: 896px) {

}

@media screen and (min-width: 600px) {
    .contact-links {
        padding-top: 7em;
    }
}

@media screen and (min-width: 1024px) {

    #background {
        height: 100vh;
    }
}