#background {
    height: 100%;
}

.navbar h1 {
    width: 50%;
}

#menu_button_display {
    width: 40%;
}

.container {
    height: auto;
    width: 80%;
    padding-top: 0;
    padding-bottom: 5em;
}

.navigation {
    position: fixed;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    transition: all 0.5s;
}

.navigation li:hover, .navigation li.selected {
    transform: scale(1.5);
}

.navigation li {
    background-color: #333;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin: 0.5em;
    list-style: none;
}

.websites:first-child{
    margin-top: 30%;
}

.section {
    height: 100vh;
}

.grid {
    gap: 5em;
}

.grid h1 {
    position: relative;
    top: 30%;
}

.grid img {
    position: relative;
    top: 10%;
}

.websites {
    margin: 0 auto;
    display: grid;
    width: 100%;
    padding: 0;

}

.websites h1 {
    font-size: 18px;
    text-align: center;
    font-weight: 600;
}

.websites img {
    margin: 0 auto;
    display: block;
    width: 100%;
    padding: 1em 0;
}

.websites p {
    font-family: 'Cormorant Infant', serif;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    text-transform: none;
}

.websites .mobile {
    display: none;
}

.websites .desktop {
    display: block;
}

.footer {
    left: 0;
}

@media screen and (min-width: 414px) {
    .section {
        height: 70vh;
    }    
}


@media screen and (min-width: 1024px) {
    .navbar h1 {
        width: 30%;
    }

    #menu_button_display {
        width: 70%;
    }

    .container {
        padding-top: 2em;
    }

    .websites {
        padding: 3em 0;
    }

    .websites:first-child {
        padding: 1em 0;
    }

    .websites img {
        padding: 3em 0;
    }

    .websites a {
        height: 60%;
        width: 60%;
        margin: 0 auto;
    }


    .websites h1 {
        font-size: 26px;
        padding-bottom: 1em;
    }

    .websites p {
        font-size: 20px;
        text-align: center;
        line-height: 30px;
        width: 85%;
        margin: 0 auto;
    }

}

@media screen and (min-width: 1280px) {
    .navbar h1 {
        width: 30%;
    }

    #menu_button_display {
        width: 70%;
    }

    .container {
        padding-top: 1em;
    }

    .websites {
        padding: 3em 0;
    }

    .websites:first-child {
        padding: 1em 0;
    }

    .websites img {
        padding: 3em 0;
    }

    .websites a {
        height: 50%;
        width: 50%;
        margin: 0 auto;
    }


    .websites h1 {
        font-size: 26px;
        padding-bottom: 1em;
    }

    .websites p {
        font-size: 20px;
        text-align: center;
        line-height: 30px;
        width: 85%;
        padding-top: 1em;
        margin: 0 auto;
    }

}


@media screen and (min-width: 1440px) {

    .container {
        padding: 4em 0;
    } 

    .websites:first-child {
        padding: 0;
    }

    .websites {
        padding: 0;
        height: 100%
    }

    .grid center {
        height: 0%;
    }

    .websites img {
        padding: 0;
        margin: auto;
        transition: ease-in-out 0.5s;
        box-shadow: 0px 0px 30px -5px #333;
    }

    .websites img:hover {
        transform: scale(0.9);
        transition: ease-in-out 0.5s;
    }

    .websites h1 {
        display: none;
    }

    .websites p {
        display: none;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        column-gap: 3em;
        row-gap: 4em;
        margin-top: 2em;
        width: 80%;
        height: 100%;
    }

}