#background {
    height: 100%;
}

.navbar h1 {
    width: 50%;
}
#menu_button_display {
    width: 40%;
}

.container {
    height: auto;
}

.websites {
    margin: 0 auto;
    display: grid;
    width: 100%;
    padding: 2em 0;
}

.websites h1 {
    font-size: 18px;
    text-align: center;
    font-weight: 600;
}

.websites img {
    margin: 0 auto;
    display: block;
    width: 100%;
    padding: 1em 0;
}

.websites p {
    font-family: 'Cormorant Infant', serif;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    text-transform: none;
}

.websites .mobile {
    display: none;
}

.websites .desktop {
    display: block;
}

.footer {
    left: 0;
}
