#background {
    height: 100%;
}

.navbar h1 {
    width: 50%;
}

#menu_button_display {
    width: 40%;
}

.container {
    height: auto;
}

.websites {
    margin: 0 auto;
    display: grid;
    width: 100%;
    padding: 2em 0;
}

.websites h1 {
    font-size: 18px;
    text-align: center;
    font-weight: 600;
}

.websites img {
    margin: 0 auto;
    display: block;
    width: 100%;
    padding: 1em 0;
}

.websites p {
    font-family: 'Cormorant Infant', serif;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    text-transform: none;
}

.websites .mobile {
    display: none;
}

.websites .desktop {
    display: block;
}

.footer {
    left: 0;
}


@media screen and (min-width: 1024px) {
    .navbar h1 {
        width: 30%;
    }

    #menu_button_display {
        width: 70%;
    }

    .container {
        padding-top: 2em;
    }

    .websites {
        padding: 3em 0;
    }

    .websites:first-child {
        padding: 1em 0;
    }

    .websites img {
        padding: 3em 0;
    }

    .websites a {
        height: 60%;
        width: 60%;
        margin: 0 auto;
    }


    .websites h1 {
        font-size: 26px;
        padding-bottom: 1em;
    }

    .websites p {
        font-size: 20px;
        text-align: center;
        line-height: 30px;
        width: 85%;
        margin: 0 auto;
    }

}

@media screen and (min-width: 1280px) {
    .navbar h1 {
        width: 30%;
    }

    #menu_button_display {
        width: 70%;
    }

    .container {
        padding-top: 1em;
    }

    .websites {
        padding: 3em 0;
    }

    .websites:first-child {
        padding: 1em 0;
    }

    .websites img {
        padding: 3em 0;
    }

    .websites a {
        height: 50%;
        width: 50%;
        margin: 0 auto;
    }


    .websites h1 {
        font-size: 26px;
        padding-bottom: 1em;
    }

    .websites p {
        font-size: 20px;
        text-align: center;
        line-height: 30px;
        width: 85%;
        padding-top: 1em;
        margin: 0 auto;
    }

}


@media screen and (min-width: 1440px) {

    /* ZRÓB GRIDA */

}